runs
video
data
source_videos
yolov8x.pt
check.py
_output
.vscode/
params.py
source_videos
__pycache__

# macOS
**/.DS_Store

# sublime text project files
*.sublime-project
*.sublime-workspace

# Python files
*/__pycache__
*.pyc
*.egg-info/

# Instance specific files
config
secret
