{
  "data": "/data",
  "plotly_template": "plotly_white",
  "source_videos": "/source_videos",
  "mapping" : "mapping.csv",
  "output_path" : "video",
  "frames_output_path" : "runs/detect/frames",
  "annotated_frame_output_path" : "runs/detect/annotated_frames",
  "txt_output_path" : "runs/detect/labels",
  "final_video_output_path" : "runs/detect/final_video.mp4",
  "output_merged_csv" : "runs/detect/merged_output.csv",
  "prediction_mode" : "False",
  "tracking_mode" : "False",
  "display_frame_tracking" : "False",
  "save_annoted_img" : "False",
  "delete_labels" : "True",
  "delete_frames" : "True",
  "delete_youtube_video" : "False",
  "need_annotated_video" : "False",
  "delete_runs_files" : "True",
  "model" : "yolov8x.pt",
  "confidence" : 0.7,
  "render" : "True",
  "line_thickness" : 1,
  "show_conf" : "True",
  "show_labels" : "True"
}
