{
  "data": ["/data", "/data-2"],
  "videos": ["/videos", "/videos-2"],
  "mapping": "mapping.csv",
  "prediction_mode": false,
  "tracking_mode": true,
  "always_analyse": false,
  "display_frame_tracking": false,
  "save_annoted_img": false,
  "save_tracked_img": false,
  "delete_labels": true,
  "delete_frames": true,
  "delete_youtube_video": true,
  "compress_youtube_video": false,
  "delete_runs_files": true,
  "check_missing_mapping": false,
  "min_max_videos": false,
  "client": "WEB",
  "model": "yolo11x.pt",
  "boundary_left": 0.45,
  "boundary_right": 0.55,
  "use_geometry_correction": 0,
  "population_threshold": 0,
  "footage_threshold": 0,
  "min_city_population_percentage": 0,
  "min_speed_limit": 0,
  "max_speed_limit": 1e20,
  "countries_analyse": [],
  "confidence": 0.7,
  "update_ISO_code": false,
  "update_pop_country": false,
  "update_continent": false,
  "update_mortality_rate": false,
  "update_gini_value": false,
  "update_upload_date": false,
  "update_fps_list": false,
  "update_package": true,
  "need_authentication": true,
  "font_family": "Open Sans, verdana, arial, sans-serif",
  "font_size": 18,
  "plotly_template": "plotly_white",
  "logger_level": "info",
  "sleep_sec": 1800,
  "git_pull": true
}
