{
  "data": "/data",
  "videos": "/videos",
  "mapping" : "mapping.csv",
  "prediction_mode" : false,
  "tracking_mode" : true,
  "display_frame_tracking" : false,
  "save_annoted_img" : false,
  "delete_labels" : true,
  "delete_frames" : true,
  "delete_youtube_video" : true,
  "compress_youtube_video" : false,
  "need_annotated_video" : false,
  "delete_runs_files" : true,
  "monitor_temp": true,
  "check_for_download_csv_file" : false,
  "client" : "WEB",
  "model" : "yolo11x.pt",
  "confidence" : 0.7,
  "render" : false,
  "line_thickness" : 1,
  "show_conf" : false,
  "show_labels" : false,
  "bar_colour_1" : "rgb(251, 180, 174)",
  "bar_colour_2" : "rgb(179, 205, 227)",
  "bar_colour_3" : "rgb(204, 235, 197)",
  "bar_colour_4" : "rgb(222, 203, 228)",
  "update_ISO_code" : false,
  "update_pop_country" : false,
  "update_continent" : false,
  "update_mortality_rate" : false,
  "update_gini_value" : false,
  "update_upload_date" : false,
  "update_fps_list" : false,
  "update_pytubefix" : true,
  "font_family": "Open Sans, verdana, arial, sans-serif",
  "plotly_template": "plotly_white",
  "countries_analyse": []
}
