coloredlogs==15.0.1
Flask==3.1.0
geopy==2.4.1
moviepy==1.0.3
numpy==2.2.2
opencv_python==4.8.1.78
pandas==2.2.3
plotly==5.17.0
pycountry==22.3.5
pycountry_convert==0.7.2
pytube==15.0.0
pytubefix==8.10.2
Requests==2.32.3
ultralytics==8.0.227
urllib3==2.3.0
world_bank_data==0.1.4
yt_dlp==2025.1.15
